.playlists{
    height: 48%;
    background-color: transparent;
    white-space: nowrap ;
    overflow:hidden;

}
.lists{
    overflow-x:hidden;
    width: 100%;
}
.spotify-song-card{
    display: inline-block;
    background-color: rgb(20, 20, 20);
    margin-left: 2%;
    margin-bottom: 2%;
    height: 280px;
    width: 205px;
    padding: 2%;
    position: relative;
    white-space: normal;
}
.spotify-song-card:hover{
    cursor: pointer;
}

.name{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
}
.spotify-song-card:hover{
    background-color: #292929;
}
.box{
    background-color: #1ed760;
    position: absolute;
    margin-top:-40px;
    margin-left:110px;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.play{
    display: none;
}
.spotify-song-card:hover .play{
    display:inline
}
.description{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    color: #a19f9f;
    font-size: 15px;
    font-weight: 550;
    position: absolute;
}