.cover img{
    width: 100%;   
    object-fit: cover; 
    position: relative;
}
.cover{
    height: 250px;
    overflow: hidden;
}
.name span{
    position: absolute;
    color: white;
    font-size: 85px;
    font-weight: bold;
    margin-top: -180px;
    margin-left: 20px;
}
.box{
    background-color: #1ed760;
    height: 55px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    display:flex ;
    align-items: center;
    padding: 2%;
    gap: 2%;
    padding-bottom: 0%;
}
.home:hover{
    cursor: pointer;
}
.search:hover{
    cursor: pointer;
}
.follow .btn{
    color: rgb(255, 255, 255);
    width: 80px;
    font-weight: bold;
    padding: 2%;
}
.follow button:hover{
    font-size: 105%;
}

.color{
    color: rgb(142, 142, 142);
   
}
table{
    padding: 1%;
    padding-left: 2%;
    margin-left: 1.5%;
    color: white;
    font-weight:600 ;
    border-collapse: separate; /* Separate borders (required for border-radius to work) */
    border-spacing: 0;
}
table tr:hover{
    background-color:#292929 ;
    cursor: pointer;

}
table>tr:hover td>span{
    display:none ;
}
td i{
    display: none;
}
table>tr:hover td>i{
    display:inline ;
}

td,th{
    padding-left: 20px;
}

.home-container-side-bar{
    height: 100vh;
    background-color: black;
}
.home-container_playlist{
    height: 100%;
    margin-left: 24%;
    background-color: black;
}
.home-container-side-bar-section{
    background-color: #191919;
    display: flex;
    flex-direction: column;
    color: rgb(185, 184, 184);
}
.long{
    height:77% ;
}

.d-flex{
    font-size: 18px;
    font-weight: bold;
    margin: 12px;
}
.player{
    position: fixed;
    background-color: #292929;
    border-radius: 5px;
    height: 50%;
    width: 20%;
    margin-left:53%;
    margin-top: -4%;
}
.title{
    font-size: 15px;
}