.home-container-side-bar{
    height: 100vh;
    background-color: black;
}
.home-container_playlist{
    height: 100%;
    margin-left: 24%;
    background-color: black;
}
.home-container-side-bar-section{
    background-color: #191919;
    display: flex;
    flex-direction: column;
    color: rgb(185, 184, 184);
}
.home:hover{
    cursor: pointer;
}
.search:hover{
    cursor: pointer;
}
.long{
    height:77% ;
}
.d-flex{
    font-size: 18px;
    font-weight: bold;
    margin: 12px;
}
.player{
    background-color: #292929;
    border-radius: 5px;
    height: 100%;
}
.spotify-albums{
    color: white;
    font-weight: bold;
    font-size:x-large;
    padding: 2%;
}
.spotify-albums-list{
    display: flex;
    align-items: center;
    padding: 1%;
    width: 98%;
    margin-left: 1.5%;
    color: white;
    font-weight:600 ;
    gap: 2%;
}
.text-count{
    color: rgb(142, 142, 142);
}
.more-button .btn{
    margin: 2%;
    margin-top: 0;
    color: rgb(147, 147, 147);
    font-weight: bold;
}
.spotify-albums-list:hover{
    background-color:#292929 ;
    border-radius: 4px;
    cursor: pointer;
}
.spotify-albums-list:hover .text-count span{
    display:none ;
}
.text-count i{
    display: none;
}
.spotify-albums-list:hover .text-count i{
    display:inline ;
}
