<div class="home-container bg-black vh-100 row">
    <div class="home-container-side-bar position-fixed col-3 p-2">
        <div class="home-container-side-bar-section ms-2 p-3 rounded">
            <div class="ms-3">
                <img width="80" src="assets/image/spotify.png" alt="">
            </div>
            <div class="d-flex mt-4 gap-3 home" [routerLink]="['/']" (click)="onNavigation('home')">
                <span class="material-symbols-outlined">home</span>
                <span>Home</span>
            </div>
            <div class="d-flex gap-3 search" [routerLink]="['/search']" (click)="onNavigation('search')">
                <span class="material-symbols-outlined">search</span>
                <span>Search</span>
            </div>
        </div>
        <div class="home-container-side-bar-section long m-2 me-0 p-3 rounded">
            <div class="d-flex gap-3">
                <span class="material-symbols-outlined">stacks</span>
                <span>Your Library</span>
                <div class="btn-group dropstart  ms-auto">
                    <button type="button" class="bg-transparent border-0" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="material-symbols-outlined text-white-50">add</span>
                    </button>
                    <ul class="dropdown-menu bg-dark p-2">
                      <a href="" class="text-light link-underline link-underline-opacity-0">Create a new playlist</a>
                    </ul>
                </div>
                  
            </div>
        </div>
    </div>
    <div class="home-container_playlist p-2 col-9">
        <app-nav></app-nav>
        <div class="">
            <div class="row" *ngIf="songs">
                <div class="col-8">
                    <div class="spotify-albums">Songs</div>
                    <div class="spotify-albums-list" (click)="preview(albums)" *ngFor="let albums of songs.tracks.items;let i=index">
                        <div class="text-count" >
                            <span>{{i+1}}</span>
                            <i class="fa-solid fa-play fa-sm icon"></i>
                        </div>
                        <div class="image">
                            <img src="{{albums.album.images[0].url}}" height="38px" alt="">
                        </div>
                        <div class="album-title">
                            {{albums.name}}
                        </div>
                    </div>
                </div>
                <div class="col-3 mt-5 player">
                    <div class="w-100 pt-2" *ngIf="song_image">
                        <img class="w-100" [src]="song_image" alt="">
                    </div>
                    <div *ngIf="url">
                        <audio #audioPlayer controls class="w-100" [autoplay]="url ? true : false">
                            <source [src]="url" type="audio/mpeg">
                        </audio>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>